.signup {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-card {
    max-width: 600px;
    width: 100%;
}

.signup-card .signup-card__title {
    font-size: 36px;
    padding: var(--spacing-8);
    margin-bottom: var(--spacing-24);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.signup-card .signup-card__title span {
    color: var(--blue-primary);
}
.signup-form .container-fluid  .signup-form-field {
    margin-bottom: var(--spacing-8);
}
.signup-form  .signup-form__submit {
    margin-top: var(--spacing-16);
    width: 100% ;
}

.signup-form-field--calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
}
::ng-deep .p-inputgroup p-calendar {
    width: 100% !important;
    
}
::ng-deep .p-inputgroup p-calendar .p-calendar{
    width: 100% !important;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}



.signup__redirect {
    text-align: center;
    width: 100%;
    margin: var(--spacing-8) 0;
}
.signup__redirect a {
    text-decoration: none;
    font-weight: 600;
    color: var(--blue-secondary);
    position: relative;
}

.signup__redirect a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--blue-primary);
    transition: .3s ease-in-out;
}

.signup__redirect a:hover {
    color: var(--blue-primary);
}

.signup__redirect a:hover::after {
    width: 100%;
    background-color: var(--blue-primary);
}