<div class="login">
    <p-card class="login-card">
        <h1 class="login-card__title">Log<span>In</span></h1>
        <form [formGroup]="loginForm"></form>
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <app-input [formRef]="loginForm" controlName="userName" [spec]="specInputText"></app-input>
            </div>
            <div class="col-12 md:col-4  col-input-password">
                <app-input-password [formRef]="loginForm" controlName="password" [spec]="specInputPassword">
                </app-input-password>
            </div>
            <p class="login-card__createAccount">
                Do you not have account ?
                <a href="#"> Create Account </a>
            </p>
            <button class="col-12 md:col-4 mt-5" pButton type="button" label="Submit"></button>
        </div>

    </p-card>

</div>