/* You can add global styles to this file, and also import other style files */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 :root {
    --blue-primary: #4F46E5;
    --blue-secondary: #6366F1;
    --red-primary: #e32929;

    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-24: 24px;
    --spacing-28: 28px;
    --spacing-32: 32px;
    --spacing-36: 36px;
 }